bitsandbytes==0.44.1
einops==0.8.0
evaluate==0.4.3
fqdn==1.5.1
ftfy==6.3.1
jsonpointer==3.0.0
jupyterlab==4.3.2
# mkl-fft==1.3.11
# mkl-random==1.2.8
multiscaledeformableattention==1.0
natten==0.17.3+torch210cu121
nltk==3.9.1
opencv-python==4.10.0.84
plyfile==1.1
pyglet==1.5.29
roma==1.5.1
tomli==2.0.1
torchaudio==2.1.0
torchmetrics==1.6.0
torchsde==0.2.6
trimesh==4.5.3
unsloth==2024.12.2
unsloth-zoo==2024.12.1
uri-template==1.3.0
wandb==0.18.6
webcolors==24.11.1
xformers==0.0.28.post3